.hero {
  padding-bottom: 0;
  overflow: hidden;

  .wrapper {
    max-width: none;
    width: 75%;
  }

  p {
    font-size: 1.2rem;
    max-width: 540px;
    margin: 72px 0 24px;

    &.small-copy {
      font-size: 0.8rem;
      margin-top: 18px;
      max-width: 400px;
      opacity: 0.5;
    }
  }

  .button {
    margin-top: 2rem;
  }

  &-github {
    margin-left: 12px;
    img {
      width: 25px;
      height: 25px;
      vertical-align: middle;
    }
  }
}
