.section {
  /*overflow: hidden;
	  -ms-flex-pack: center;
	  justify-content: center;
	  -ms-flex-direction: column;
	  flex-direction: column;*/
  text-align: center;

  padding: 6rem 0 10rem;

  &--blue {
    background-image: linear-gradient(
      -134deg,
      @color-primary 0%,
      @color-secondary 100%
    );
    color: @color-copy-invert;
  }

  &--dark {
    background-color: @color-headline;
    color: @color-copy-invert;
  }

  &--invert {
    color: @color-copy-invert;
  }

  &__wrapper {
    max-width: 720px;
    padding: 0 1rem;
    margin: auto;

    &--left {
      text-align: left;
    }
  }
}
