@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #626262;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
p,
a {
  max-width: 40em;
}
h1 {
  font-size: 4rem;
  color: #000;
}
h2 {
  font-size: 2rem;
  color: #000;
}
h3 {
  font-size: 1.25em;
  color: #000;
}
h4 {
  font-size: 1em;
  color: #000;
}
a {
  text-decoration: none;
  color: #4A90E2;
}
p {
  font-size: 1.2em;
  line-height: 1.6;
  color: inherit;
}
.form {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
input[type=email] {
  width: 360px;
  padding: 1.5rem;
  outline: 0;
  color: #999;
  font-size: inherit;
  border: 1px solid #4A90E2;
  box-shadow: 0 0 10px 0 #4A90E2;
  border-radius: 3px;
}
.centered {
  position: relative;
  text-align: center;
}
.centered:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
.centered .centered-inner {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  z-index: 10;
}
.invert {
  color: #fff;
}
.invert h1,
.invert h2,
.invert h3,
.invert h4 {
  color: #fff;
}
.dark {
  background-color: #000;
  color: #fff;
}
.section {
  overflow: hidden;
  padding: 2rem;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  padding: 5rem 0;
}
.section.left {
  text-align: left;
}
.section p {
  margin: auto;
}
.section.hero {
  background-image: linear-gradient(134deg, #4A90E2 0%, #9160DA 100%);
}
.section.hero h1 {
  font-weight: 400;
}
.section.hero h1 span {
  font-weight: 600;
}
.section.hero p {
  font-size: 1.5em;
}
.section .feature-tiles {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
.section .feature-tiles .feature {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}
.section .feature-tiles .feature .tile {
  height: 220px;
  width: 200px;
  background-image: linear-gradient(134deg, #4A90E2 0%, #9160DA 100%);
  border-radius: 5px;
}
.section .feature-tiles .feature .small-copy {
  font-size: 13px;
}
